<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'measure center mv4'}) do |f| %>
  <fieldset id="sign_in" class="ba b--transparent ph0 mh0">
    <legend class="f3 f1-l fw2 ph0 mh0 black-70">Update Profile</legend>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mt3">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "pa2 input-reset ba b--black-70 bg-transparent w-100" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="mt3">
        <div class="f6">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      </div>
    <% end %>

    <div class="mv3">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "pa2 input-reset ba b--black-70 bg-transparent w-100" %>
    </div>

    <div class="mv3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "pa2 input-reset ba b--black-70 bg-transparent w-100" %>
    </div>

    <div class="mv3">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", class: "pa2 input-reset ba b--black-70 bg-transparent w-100" %>
    </div>

    <div class="f6 mv3 db lh-copy f5">
      We need your current password to confirm your changes.
    <div>
  </fieldset>

  <div class="submit-field">
    <%= f.submit "Update", class: "ph3 pv2 input-reset ba b--black-70 black-70 bg-transparent dim pointer f4 fw2 dib" %>
  </div>
  
<% end %>

<div class="measure center mv4">
  <p class="f4 f3-l fw2">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ph3 pv2 input-reset ba b--dark-red dark-red bg-transparent dim pointer f5 dib" %></p>
</div>
